body {
	font-family:sans-serif;
	background-color:#fdfdfd;
}

div.document {
	width:80%;
	margin-left:auto;
	margin-right:auto;
}

h1, h2 {
	border-bottom:1pt solid #dddddd;
	color:#333333;
}

pre.code {
	background-color:#f8f8f8;
	border:1pt solid #dddddd;
	padding:5pt;
}
code {
	background-color:#eeeeee;
	padding:1pt;
}
